<ion-header [translucent]="true">
  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recommended</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="image-slider-container">
        <div class="image-slider-item" *ngFor="let item of recommendedItems">
          <span class="short-rate">{{item.rate}}</span>
          <ion-img [src]="item.image"></ion-img>
          <div class="image-slider-item__caption">
            <p>{{item.name}}</p>
            <p>{{item.category}}</p>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>New ones</ion-card-title>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Close to you</ion-card-title>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>
